.traffic-light {
    background: black;
    display: inline-block;
    padding: 10px;
    margin: auto;
}
.paloSemaforo {
    background: black;
    height: 250px;
    width: 30px;
    display: flex;
    justify-content: center;
}
.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
}

.glow {
    box-shadow: 0px 0px 9px 4px #747DE8;
  
}


.red {
    background: red;
}
.yellow {
    background: rgb(255, 225, 0);
}
.green {
    background: rgb(98, 255, 0);
}